<%- include("partials/adminHeader.ejs") %>

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h1 class="app-page-title mb-4">Chi tiết sản phẩm #<%= productDatas[0].product_id %></h1>

            <form id="productdetail" class="bg-body shadow-sm p-4" method="post" action="/updateProductInformation">
                <input type="hidden" name="product_id" value="<%= productDatas[0].product_id %>">
                <div class="mb-3">
                    <label for="productName" class="form-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="productName" name="product_name" value="<%= productDatas[0].product_name %>">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="productColor" class="form-label">Màu sắc</label>
                        <input type="text" class="form-control" id="productColor" name="product_color" value="<%= productDatas[0].product_color %>">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="productCategory" class="form-label">Phân loại sản phẩm</label>
                        <select class="form-select" name="product_category" id="productCategory">
                            <option value="0" disabled>-- chọn --</option>
                            <% categoryDatas.forEach (category => { %>
                                <option id="category_<%= category.category_id%>" value="<%= category.category_id%>"><%= category.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Giá bán (VND)</label>
                    <input type="number" class="form-control" id="productPrice" name="product_price" value="<%= productDatas[0].product_price %>">
                </div>
                <div class="mb-3">
                    <label for="productDiscription" class="form-label">Mô tả sản phẩm</label>
                    <textarea class="form-control" id="productDiscription" name="product_description" rows="5"><%= productDatas[0].product_description %></textarea>
                </div>
                <hr class="mb-3">

                <!-- thong tin ton kho -->
                <h6 class="mb-3">Số lượng tồn kho:</h6>
                <div class="d-flex flex-wrap flex-row justify-content-start">
                    <% inventoryDatasByProd.forEach(stock => { %>
                        <div class="me-3 mb-3" style="width: 100px;">
                            <label for="size_<%= stock.size %>_quantity" class="form-label">size <%= stock.size %>:</label>
                            <input type="number" class="form-control" id="size_<%= stock.size %>_quantity" name="<%= stock.size %>" value="<%= stock.quantity %>">
                        </div>
                    <% }); %>
                </div>

                <div class="d-none mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="productAvail"  checked disabled>
                    <label class="form-check-label" for="productAvail">Đăng bán sản phẩm</label>
                </div>
                <button type="submit" class="btn btn-primary text-white m-1">Hoàn tất chỉnh sửa</button>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#confirmModal">
                    Xóa sản phẩm
                </button>
                <!-- Modal delete -->
                <div class="modal fade text-center" id="confirmModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cảnh báo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc rằng muốn xóa sản phẩm<br>(thao tác này không thể hoàn tác)
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không xóa</button>
                            <a href="/myAdmin/deleteThisProduct?id=" class="btn btn-primary text-white">Hãy xóa</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script>
        let thisCategoryId = <%= productDatas[0].category_id %>;
        console.log(thisCategoryId)
        document.getElementById(`category_${thisCategoryId}`).setAttribute('selected', 'selected');

        const detailProductForm = document.getElementById('productDetail');
        detailProductForm.addEventListener('change', () => {

        })
    </script>


<%- include("partials/adminFooter.ejs") %>