



<%- include("partials/header.ejs") %>

    <div class="container my-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-success fs-4">Giỏ hàng</li>
                <li class="breadcrumb-item fs-4">Thanh toán</li>
                <li class="breadcrumb-item fs-4">Hoàn tất</li>
            </ol>
        </nav>
        <h2 class="w-100 text-center mb-5">Giỏ hàng của bạn</h2>
        <table class="table mb-5">
            <thead>
                <tr class="">
                    <th scope="col" class="col-sm-2 col-3"></th>
                    <th scope="col" class="col-sm-4 col-5">Sản phẩm</th>
                    <th scope="col" class="col-1 d-none d-lg-table-cell">Đơn giá</th>
                    <th scope="col" class="col-lg-2 col-sm-3 col-4 text-center">Số lượng</th>
                    <th scope="col" class="col-lg-2 col-3 d-none d-sm-table-cell">Tạm tính</th>
                    <th scope="col" class="col-1 d-none d-xl-table-cell"></th>
                </tr>
            </thead>
            <tbody>
                <% sumbill=0;%>
                <% if(locals.items) {%>
                    <% items.forEach(item=> { %>
                        <tr id="item<%= item.item_id %>">
                            <th scope="row" class="col-sm-2 col-3 align-middle">
                                <img src="<%= item.url %>"
                                    class="w-100 rounded" alt="ảnh giày">
                            </th>
                            <td class="col-sm-4 col-5 p-3 align-middle">
                                <p class="m-0">
                                    <%= item.name%>
                                </p>
                                <p class="m-0 text-secondary">Size: <%= item.size%>
                                </p>
                                <p class="m-0 text-secondary d-lg-none">Đơn giá: <%= item.price/1000%>K</p>
                            </td>
                            <td class="col-1 d-none d-lg-table-cell align-middle">
                                <%= item.price.toLocaleString();%>
                            </td>
                            <td class="col-lg-2 col-sm-3 col-4 align-middle text-center">
                                <div class="btn-group mx-auto" role="group">
                                    <button class="btn btn-link text-success px-2"
                                        onclick="decQuantity(<%= item.item_id %>, <%= item.price%>)">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input id="item<%= item.item_id %>quantity" min="0" max="20" name="quantity"
                                        value="<%= item.quantity%>" type="number"
                                        class="form-control form-control-sm quantity-input" style="width: 50px;" />

                                    <button class="btn btn-link text-success px-2"
                                        onclick='incQuantity(<%= item.item_id %>, <%= item.price%>)'>
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div><br>
                                <a href="/deleteCartItem?itemId=<%= item.item_id %>"
                                    class="d-xl-none text-success link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Xóa
                                    <span><i class="fas fa-trash" ></i></span>
                                </a>
                            </td>
                            <td id="item<%= item.item_id %>total"
                                class="col-lg-2 col-3 d-none d-sm-table-cell align-middle">
                                <%= (item.price*item.quantity).toLocaleString();%>
                                    <% sumbill+=(item.price*item.quantity);%>
                            </td>
                            <td class="col-1 d-none d-xl-table-cell align-middle text-center">
                                <a href="/deleteCartItem?itemId=<%= item.item_id %>">
                                    <i class="fas fa-trash btn btn-success"></i>
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                <%}%> 
                    
            </tbody>
        </table>
        <div class="row justify-content-end">
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="w-100 text-end">
                    <h5>Thành tiền:</h5>
                </div>
                <div class="w-100 text-end">
                    <h5><span id="totalBill">
                            <%= sumbill.toLocaleString(); %>
                        </span> vnđ</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4 col-sm-6 mb-3">
                <a href="/" class="btn btn-secondary w-100">Tiếp tục mua sắm</a>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <a href="/checkout" class="btn btn-success w-100">Tiến hành thanh toán</a>
            </div>
        </div>
    </div>
    <div id="alertBox">
        <p id="alertMessage"></p>
        <button id="customAlertButton" onclick="closeAlert()"></button>
    </div>
    <!-- script of cart.ejs-->
<script>

    const decQuantity = (itemId, productPrice) => {
        const quantityInput = document.getElementById(`item${itemId}quantity`);
        const totalElement = document.getElementById(`item${itemId}total`);

        if (quantityInput.value > 0) {
            quantityInput.stepDown();
            updateTotal(quantityInput.value, productPrice, totalElement);
            updateTotalBill();
        }
    };

    const incQuantity = (itemId, productPrice) => {
        const quantityInput = document.getElementById(`item${itemId}quantity`);
        const totalElement = document.getElementById(`item${itemId}total`);

        quantityInput.stepUp();
        updateTotal(quantityInput.value, productPrice, totalElement);
        updateTotalBill();
    };

    const updateTotal = (quantity, productPrice, totalElement) => {
        const newTotal = quantity * productPrice;
        totalElement.textContent = newTotal.toLocaleString();
    };

    const updateTotalBill = () => {
        const totalBillElement = document.getElementById('totalBill');
        const itemTotalElements = document.querySelectorAll('[id^="item"][id$="total"]');

        let totalBill = 0;
        itemTotalElements.forEach((itemTotalElement) => {
            totalBill += parseFloat(itemTotalElement.textContent.replace(/\D/g, '')) || 0;
        });

        totalBillElement.textContent = totalBill.toLocaleString();
    };
</script>

<%- include("partials/footer.ejs") %>