<%- include("partials/header.ejs") %>
<div class="container">
  <div class="row py-4">
    <div class="col-6 d-flex justify-content-start px-2">
      <h2 class="">
        <a href="#main">Trang chủ</a>
        <span class="divider">/</span>
        <a href="#main"><%= title %></a>
      </h2>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <p class="">Hiển thị 1–12 của 24 kết quả </p>
    </div>
    <div class="col-3 d-flex align-items-center">
      <select class="form-select form-select-sm" id="sortOptions">
        <option class="default" value="default" >Thứ tự mặc định</option>
        <option class="lowToHigh" value="lowToHigh">Thứ tự theo giá: thấp đến cao</option>
        <option class="highToLow" value="highToLow">Thứ tự theo giá: cao đến thấp</option>
      </select>
    </div>
  </div>
</div>
<main id="main" class="p-3">
  <div class="container">
    <div class="row">
      <% if (datas) { %>
        <% datas.forEach((product) => { %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2 image-cus">
            <a href=<%= product.product_id[0] %>><img class="img-fluid" style="min-height: 390px;" src="<%= product.url %>" alt=""></a>
            <div class="name">
              <a href=<%= product.product_id[0] %>><h6 class="mt-2 mb-0"><%= product.name %></h6></a>
              <p><%= product.price.toLocaleString() %> ₫</p>
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>
</main>

<script>
  if("<%= opt %>" !== ""){
    document.querySelector(".<%= opt %>").setAttribute("selected", "");
  }
  document.getElementById('sortOptions').addEventListener('change', function() {
    var orderBy = this.value;
    var options = this.options;
    for (var i = 0; i < options.length; i++) {
      if (options[i].value === orderBy) {
        options[i].selected = true; // Đánh dấu tùy chọn đã chọn
        console.log(1);
      } else {
        options[i].selected = false; // Bỏ đánh dấu các tùy chọn khác
      }
    }
    var currentURL = window.location.href;
    var baseUrl = currentURL.split('?')[0];
    var newURL = baseUrl + '?orderBy=' + orderBy;
    if(orderBy === 'default'){
      newURL = baseUrl;
    }
    window.location.href = newURL;
  });
</script>
<%- include('partials/footer') %>
