



<%- include("partials/header.ejs") %>
  <div class="container">
    <div class="row py-4">
      <div class="col-6 d-plex justify-content-start px-2">
        <h2 class="">
          <a href="#main">Trang chủ</a>
          <span class="divider">/</span>
          <a href="#main">
            <%= title %>
          </a>
        </h2>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <p class="">Hiển thị 1–12 của 24 kết quả </p>

      </div>
      <div class="col-3 d-flex align-items-center">
        <select class="form-select form-select-sm">
          <option selected>Thứ tự mặc định</option>
          <option value="1">Mới nhất</option>
          <option value="2">Thứ tự theo giá: thấp đến cao</option>
          <option value="3">Thứ tự theo giá: cao đến thấp</option>
        </select>
      </div>
    </div>
  </div>
  <main id="main" class="p-3">
    <div class="container">
      <div class="row">
        <% if(locals.datas){ %>
          <% datas.forEach((product)=>{%>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
              <a href=<%=product.product_id[0] %>><img class="img-fluid" style="min-height: 390px;" src="<%= product.url%>" alt=""></a>
              <div class="name">
                <a href=<%=product.product_id[0] %>><h6 class="mt-2 mb-0"><%= product.name %></h6></a>
                <p><%= product.price %> ₫</p>
              </div>
            </div>
            <% }) %>
         <% } %>

      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>