<%- include('partials/header') %>

    <img class='img-fluid mb-2' src='/images/banner.jpg' alt='banner'>

    <h2 class="text-center font-weight-bold my-5">GIÀY BÓNG ĐÁ BÁN CHẠY NHẤT</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% for(let i=0; i < 4; i++) { %>
                <div class="col d-flex align-items-stretch">
                    <a href="category/soccer-shoes/nike/<%= products[i].product_id[0] %>"
                        class="text-decoration-none">
                        <div class="card h-100">
                            <% if(products[i].url) { %>
                                <img src="<%= products[i].url %>" class="card-img-top" alt="<%= products[i].name %>">
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= products[i].name %>
                                        </h5>
                                        <p class="card-text"><strong>
                                                <%= products[i].price %>đ
                                            </strong></p>
                                    </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
    </div>



    <div class="container-fluid mt-1" style="background-color: #F6F6F6; padding: 50px;">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <h2 class="text-center font-weight-bold">Về chúng tôi TÚC CẦU SPORT</h2>
                    <br>
                    <p class="mb-3" style="font-size: larger;">Túc Cầu Sport – Giày Đá Bóng, Quần Áo Bóng Đá, Phụ Kiện Chất Lượng. Chúng tôi tự hào là thương
                        hiệu bán lẻ đáng tin cậy, mang đến trải nghiệm mua sắm tốt nhất với dịch vụ chăm sóc khách hàng
                        nhiệt tình và thân thiện.</p>
                    
                    <ul>
                        <li class="mt-2"><strong>Miễn phí vận chuyển.</strong></li>
                        
                        <li class="mt-2"><strong>Đổi size thoả mái.</strong></li>
                     
                        <li class="mt-2"><strong>Trả hàng hoàn tiền nếu sản phẩm không đúng miêu tả, quảng cáo.</strong></li>
                      
                        <li class="mt-2"><strong>Hỗ trợ bảo hành keo đế trọn đời.</strong></li>
                      
                        <li class="mt-2"><strong>Tư vấn hỗ trợ 24/24.</strong></li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <img src="/images/shop.jpg" class="img-fluid rounded" style="box-shadow: 0 0 10px rgba(0,0,0,0.3);" alt="shop">
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">GIÀY CHÍNH HÃNG NIKE</h2>
            </div>
            <div class="col-md-6 ">
                <a href="category/soccer-shoes/nike/all" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count1=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===1 && count1 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="category/soccer-shoes/nike/<%= products[i].product_id[0] %>"
                                class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count1++; %>
                            <% } %>
                                <% if(count1>= 4) break; %>
                                    <% } %>
        </div>
    </div>


    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">GIÀY CHÍNH HÃNG MIZUNO</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count2=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===2 && count2 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count2++; %>
                            <% } %>
                                <% if(count2>= 4) break; %>
                                    <% } %>
        </div>
    </div>

    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">GIÀY CHÍNH HÃNG ADDIDAS</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count3=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===3 && count3 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count3++; %>
                            <% } %>
                                <% if(count3>= 4) break; %>
                                    <% } %>
        </div>
    </div>

    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">BÓNG</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count4=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===4 && count4 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count4++; %>
                            <% } %>
                                <% if(count4>= 4) break; %>
                                    <% } %>
        </div>
    </div>

    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">GĂNG TAY</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count5=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===5 && count5 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count5++; %>
                            <% } %>
                                <% if(count5>= 4) break; %>
                                    <% } %>
        </div>
    </div>

    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">TẤT</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count6=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===6 && count6 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count6++; %>
                            <% } %>
                                <% if(count6>= 4) break; %>
                                    <% } %>
        </div>
    </div>


    <div class="container mt-5 rounded p-2 my-5" style="background-color: #41BC3F;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-white">BĂNG KEO</h2>
            </div>
            <div class="col-md-6 ">
                <a href="/category/sanpham1" class="text-white text-decoration-none float-end" style="font-size: larger;">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-4 ">
            <% let count7=0; %>
                <% for(let i=0; i < products.length; i++) { %>
                    <% if(products[i].category_id===7 && count7 < 4) { %>
                        <div class="col d-flex align-items-stretch">
                            <a href="/product/<%= products[i].id %>" class="text-decoration-none">
                                <div class="card h-100" style="position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
                                    <% if(products[i].url) { %>
                                        <img src="<%= products[i].url %>" class="card-img-top" style="max-height: 300px;"
                                            alt="<%= products[i].name %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= products[i].name %>
                                                </h5>
                                                <p class="card-text" style="position: absolute; bottom : 0;"><strong>
                                                        <%= products[i].price %> đ
                                                    </strong></p>
                                            </div>
                                </div>
                            </a>
                        </div>
                        <% count7++; %>
                            <% } %>
                                <% if(count7>= 4) break; %>
                                    <% } %>
        </div>
    </div>

<%- include('partials/footer') %>

    